//colors//@at-root

$font-color: rgb(111, 84, 35);
$background-color: steelblue;

$aqua: aquamarine;
$hospital-green: #a2deaf;
$dirty-blue: #438792;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$dull-orange: #e17334;

//fonts//
$font-family-principal: 'Open Sans', sans-serif; ;
