//colors//@at-root

$font-color: rgb(111, 84, 35);
$background-color: steelblue;
$dull-orange: #e17334;
$soft-pink: pink;
$viv-pink: palevioletred;

//fonts//
$font-family-principal: 'Open Sans', sans-serif; ;
