.li-serie {
  width: 260px;
  height: 410px;
  display: flex;
  flex-direction: column;
  border: 10px solid $soft-pink;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__image {
    width: 180px;
  }

  &__icon {
    font-size: 50px;
    color: $soft-pink;
  }
}

//selected fav modified//

.class-title {
  color: $soft-pink;
}

.class-li {
  border: $dull-orange 10px solid;
}
