/*;

@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

@import 'core/variables';
@import 'core/reset';

body {
  font-family: $font-family-principal;
  background: linear-gradient($background-color, $dull-orange);
}

.header {
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 10%;

  &__title-h1 {
    padding: 20px 0;
    color: $font-color;
    font-size: 30px;

    font-weight: bold;
  }

  &__input-search {
    font-size: 30px;
    width: 230px;

    border: solid 3px$dull-orange;
    border-radius: 10px;
  }

  &__btn-search {
    margin: 0 15px;
    font-size: 30px;
    border: solid 3px $dull-orange;
    border-radius: 10px;
    font-family: $font-family-principal;
  }

  &__btn-reset {
    font-size: 30px;
    border: solid 3px $dull-orange;
    border-radius: 10px;
    font-family: $font-family-principal;
  }
}

.main {
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;

  width: 100%;
  height: 80%;
  font-family: $font-family-principal;
  color: $font-color;

  &__article-fav {
    width: 20%;
    border: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--h2 {
      font-size: 30px;
      padding: 15px;
      text-align: center;
      background-color: palevioletred;
      margin-bottom: 40px;

      border-radius: 40px;
    }
  }

  &__article-results {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    padding-bottom: 15px;

    &--h2 {
      width: 30%;
      font-size: 30px;
      padding: 15px;
      text-align: center;
      background-color: palevioletred;
      border-radius: 30px;
      margin-bottom: 40px;
    }

    &--ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.li-serie {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border: 10px solid pink;

  justify-content: space-around;

  align-items: center;
  text-align: center;

  &__title {
    font-size: 25px;
    font-weight: bold;
  }

  &__image {
    width: 180px;
  }
  &__icon {
    font-size: 50px;
    color: pink;
  }
}
